@require '../../node_modules/reveal.js/css/reveal.css'
@require '../../node_modules/reveal.js/css/theme/white.css'
@require '../../node_modules/highlight.js/styles/solarized-dark.css'

.reveal .backgrounds .stack {
  background-image: url('../media/logo.png');
  background-position: 1rem calc(100% - 1rem);
  background-repeat: no-repeat;
  background-size: 5em;
}

.reveal .slides .stack:first-child section:first-child h1 {
  color: white;
}

.reveal .backgrounds .stack:first-child .slide-background:first-child {
  background-image: url('../media/background.jpeg');
  background-position: center calc(60%);
  background-size: cover;
}

.reveal section.stack img {
  border: none;
  box-shadow: none;
}

.reveal section.stack pre {
  font-size: .5em;
  border: 2px solid #5b5b5b;
  background-color: #ffffff;
}

.reveal pre {
  box-shadow: none
}
