<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
        <%- content %>
      </div>
    </div>
    <%% htmlWebpackPlugin.files.js.forEach(function (js) { %>
      <script src='<%%= js %>'></script>
    <%% }) %>
  </body>
</html>
